@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Monoton';
    src: url('./assets/fonts/Monoton-Regular.ttf');
}
html,body, #app{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}